@charset "UTF-8";

/*
    #E0F5FE
    #FFDFFF
    #CA53C4
    #05FF04
    #000000
*/

:root {
    --color1: #E0F5FE;
    --color2: #FFDFFF;
    --color3: #4b0c48;
    --color4: #0d6b0d;
    --color5: #000000;
    --color-alt: #0f7e0f;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    background-color: var(--color3);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 340px;
    height: 540px;
    border-radius: 16px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.473);
    
    transition: width 0.4s, heigth 0.4s;
    transition-timing-function: ease;
}

section#login > div#bg-image {
    display: block;
    background: var(--color1) url(../images/bg-game.jpg) no-repeat;
    background-size: cover;
    background-position: right center;
    height: 180px;
}

section#login > div#form {
    display: block;
    padding: 8px;
    text-align: center;
}

div#form > h1 {
    margin-bottom: 8px;
}

div#form > p {
    font-size: 0.8em;
    margin-bottom: 16px;
}

form > p.field {
    background-color: var(--color3);
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin: 8px 0px;
}

div#form > form > input#submit {
    display: block;
    font-size: 1em;
    letter-spacing: 0.4px;
    width: 100%;
    padding: 8px;
    background-color: var(--color-alt);
    color: white;
    border: none;
    border-radius: 4px;
}
div#form > form > input#submit:hover {
    background-color: var(--color4);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

div#form > form > a.forgotPassButton{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    background-color: white;
    color: var(--color4);
    border: 1px solid var(--color-alt);
    border-radius: 4px;
    text-decoration: none;
}
div#form > form > a.forgotPassButton:hover {
    background-color: var(--color1);
}
